<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">



    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="~/css/aos.css">
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Required meta tags -->
    @*<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">*@
    <!-- Bootstrap CSS -->
    @*<link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">*@
    @*<link rel="stylesheet" href="~/assets/libs/css/style.css">*@
    @*<link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">*@
    @*<link rel="stylesheet" href="~/assets/vendor/vector-map/jqvmap.css">
    <link href="~/assets/vendor/jvectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="~/assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="~/assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/daterangepicker/daterangepicker.css" />*@
</head>
<body>


    <div class="site-wrap">
        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->


        <div class="site-navbar-wrap js-site-navbar bg-white">

            <div class="container">
                <div class="site-navbar bg-light">
                    <div class="py-1">
                        <div class="row align-items-center">
                            <div class="col-2">
                                <h2 class="mb-0 site-logo"><a href="@Url.Action("Index","Home")">Online<strong class="font-weight-bold">Recruitment</strong> </a></h2>
                            </div>
                            <div class="col-10">
                                <nav class="site-navigation text-right" role="navigation">
                                    <div class="container">
                                        <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>
                                        <ul class="site-menu js-clone-nav d-none d-lg-block">
                                            <li class="has-children">
                                                @Html.ActionLink("For JobSeeker", "SignUp", "Home")
                                                <ul class="dropdown arrow-top">
                                                    <li>@Html.ActionLink("JobSeeker Signup", "SignUp", "Home")</li>
                                                    <li>@Html.ActionLink("Browse Jobs", "SignUp", "Home")</li>
                                                    @if (User.IsInRole("JobSeeker"))
                                                    {
                                                        <li>@Html.ActionLink("JobSeeker Home", "JobSeekerIndex", "Home")</li>

                                                        <li>@Html.ActionLink("My Profile", "MyProfile", "Home")</li>
                                                    }

                                                </ul>
                                            </li>
                                            @*<li>@Html.ActionLink("JobSeeker", "SignUp","Home")</li>*@

                                            <li class="has-children">
                                                @Html.ActionLink("For Employer", "EmployerSignUp", "Home")
                                                <ul class="dropdown arrow-top">
                                                    <li>@Html.ActionLink("Employer Signup", "EmployerSignUp", "Home")</li>
                                                    @if (User.IsInRole("Employer"))
                                                    {
                                                        <li>@Html.ActionLink("Employer Home", "EmployerIndex", "Home")</li>
                                                        <li>@Html.ActionLink("My Profile", "EmployerProfile", "Home")</li>
                                                    }
                                                </ul>
                                            </li>
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <li>@Html.ActionLink("Admin Home", "AdminIndex", "Home")</li>
                                            }
                                            @if (Request.IsAuthenticated)
                                            {
                                                <li>@Html.ActionLink("Log Out", "Logout", "Account")</li>
                                            }
                                            else
                                            {
                                                <li>@Html.ActionLink("Log in", "Login", "Account")</li>
                                            }
                                            <li> @Html.ActionLink("POST NEW JOB", "PostJob", "Home", new { @class = " span bg-primary text-white py-3 px-4 rounded" })</li>
                                            @*<li><a href="new-post.html"><span class="bg-primary text-white py-3 px-4 rounded"><span class="icon-plus mr-3"></span>Post New Job</span></a></li>*@
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="height: 113px;"></div>

        @RenderSection("banner", required: false)
        <div class="row">
            <div class="nav-left-sidebar" style="width:264px; margin-left: 20px;">
                <div class="menu-list" style="overflow: hidden; width: auto; height: 100%;">
                    <nav class="navbar navbar-expand-lg navbar-light" style="align-content:center;">
                        <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav flex-column">
                                <li class="nav-divider">
                                    Menu
                                </li>
                                <li class="nav-item ">
                                    
                                    <a class="nav-link" href="@Url.Action("EmployerProfile","Home")"><i class="fa fa-fw fa-user-circle"></i>My Profile</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="@Url.Action("ChangePassword","Account")"><i class="fa fa-fw fa-user-plus"></i>Change Password</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="@Url.Action("ManageJobs","Home")"><i class="fa fa-fw fa-product-hunt"></i>Manage Jobs</a>
                                </li>
                                
                                        </ul>
                                    </div>
                    </nav>
                </div>
            </div>

            <div class="dashboard-wrapper" style="width:1200px; margin-top:10px;">
                <div class="dashboard-content">
                    <div class="container-fluid dashboard-content ">


                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>






                    <footer class="site-footer">
                        <div class="container">

                            <div class="row">
                                <div class="col-md-4">
                                    <h3 class="footer-heading mb-4 text-white">About</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat quos rem ullam, placeat amet.</p>
                                    <p><a href="#" class="btn btn-primary pill text-white px-4">Read More</a></p>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h3 class="footer-heading mb-4 text-white">Quick Menu</h3>
                                            <ul class="list-unstyled">
                                                <li><a href="#">About</a></li>
                                                <li><a href="#">Services</a></li>
                                                <li><a href="#">Approach</a></li>
                                                <li><a href="#">Sustainability</a></li>
                                                <li><a href="#">News</a></li>
                                                <li><a href="#">Careers</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h3 class="footer-heading mb-4 text-white">Categories</h3>
                                            <ul class="list-unstyled">
                                                <li><a href="#">Full Time</a></li>
                                                <li><a href="#">Freelance</a></li>
                                                <li><a href="#">Temporary</a></li>
                                                <li><a href="#">Internship</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="col-md-12"><h3 class="footer-heading mb-4 text-white">Social Icons</h3></div>
                                    <div class="col-md-12">
                                        <p>
                                            <a href="#" class="pb-2 pr-2 pl-0"><span class="icon-facebook"></span></a>
                                            <a href="#" class="p-2"><span class="icon-twitter"></span></a>
                                            <a href="#" class="p-2"><span class="icon-instagram"></span></a>
                                            <a href="#" class="p-2"><span class="icon-vimeo"></span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-5 mt-5 text-center">
                                <div class="col-md-12">
                                    <p>
                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                        Copyright &copy;
                                        <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                                        <script>document.write(new Date().getFullYear());</script> All Rights Reserved | This template is made with <i class="icon-heart text-warning" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    </p>
                                </div>

                            </div>
                        </div>
                    </footer>
                </div>




                <script src="~/js/jquery-3.3.1.min.js"></script>
                <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
                <script src="~/js/jquery-ui.js"></script>
                <script src="~/js/popper.min.js"></script>
                <script src="~/js/bootstrap.min.js"></script>
                <script src="~/js/owl.carousel.min.js"></script>
                <script src="~/js/jquery.stellar.min.js"></script>
                <script src="~/js/jquery.countdown.min.js"></script>
                <script src="~/js/jquery.magnific-popup.min.js"></script>
                <script src="~/js/bootstrap-datepicker.min.js"></script>
                <script src="~/js/aos.js"></script>

                <script src="~/js/mediaelement-and-player.min.js"></script>
                <script src="~/js/main.js"></script>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        var mediaElements = document.querySelectorAll('video, audio'), total = mediaElements.length;

                        for (var i = 0; i < total; i++) {
                            new MediaElementPlayer(mediaElements[i], {
                                pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
                                shimScriptAccess: 'always',
                                success: function () {
                                    var target = document.body.querySelectorAll('.player'), targetTotal = target.length;
                                    for (var j = 0; j < targetTotal; j++) {
                                        target[j].style.visibility = 'visible';
                                    }
                                }
                            });
                        }
                    });</script>

                <script>
                    // This example displays an address form, using the autocomplete feature
                    // of the Google Places API to help users fill in the information.

                    // This example requires the Places library. Include the libraries=places
                    // parameter when you first load the API. For example:
                    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

                    var placeSearch, autocomplete;
                    var componentForm = {
                        street_number: 'short_name',
                        route: 'long_name',
                        locality: 'long_name',
                        administrative_area_level_1: 'short_name',
                        country: 'long_name',
                        postal_code: 'short_name'
                    };


                    // Bias the autocomplete object to the user's geographical location,
                    // as supplied by the browser's 'navigator.geolocation' object.
                    function geolocate() {
                        if (navigator.geolocation) {
                            navigator.geolocation.getCurrentPosition(function (position) {
                                var geolocation = {
                                    lat: position.coords.latitude,
                                    lng: position.coords.longitude
                                };
                                var circle = new google.maps.Circle({
                                    center: geolocation,
                                    radius: position.coords.accuracy
                                });
                                autocomplete.setBounds(circle.getBounds());
                            });
                        }
                    }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&libraries=places&callback=initAutocomplete"
                        async defer></script>



</body>
</html>


